<template>
  <v-container>
    <v-row>
      <v-col>
        <v-data-table
          :headers="gradesHeaders"
          :items="gradeItems"
          item-key="id"
          dense
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Note Studenti</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" v-on="on">Adauga nota</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.nume" label="Nume"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.materie" label="Materie"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.nota" label="Nota"></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog=false">Anuleaza</v-btn>
                    <v-btn v-if="editedIndex === -1" color="blue darken-1" text @click="addGrade">Salveaza</v-btn>
                    <v-btn v-else color="blue darken-1" text @click="editGrade">Modifica</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="deleteGrade(item.id)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

  </v-container>

</template>

<script>
  import {mapActions, mapGetters} from "vuex";
  import Inputmask from "inputmask";

  export default {
    data: () => ({
      editedIndex: -1,
      editedItem: {
        nume: '',
        materie: '',
        nota: 0
      },
      defaultItem: {
        nume: '',
        materie: '',
        nota: 0
      },
      dialog: false,
      gradesHeaders:[
        { text: 'Nume', value: 'nume', align: 'start', sortable: true },
        { text: 'Materie', value: 'materie', align: 'start', sortable: true },
        { text: 'Nota', value: 'nota',align: 'right', sortable: false },
        { text: 'Actions', value: 'actions',align: 'right', sortable: false },
      ],
      gradeItems: []
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Adauga Nota' : 'Modifica Nota'
      },
    },
    methods: {
      getGrades() {
        const reqUrl = '/api/students'
        this.$axios.get(reqUrl).then((res) => {
          console.log(res)
          this.gradeItems = res.data
        }).catch((error) => {
          console.log(JSON.stringify(error))
        })

      },
      addGrade() {
        const reqUrl = '/api/students'
        this.$axios.put(reqUrl, this.editedItem).then((res) => {
          console.log(res)
          setTimeout(this.getGrades, 400)
          this.dialog = false
        }).catch((error) => {
          console.log(JSON.stringify(error))
        })
      },
      editGrade() {
        const reqUrl = '/api/students'
        console.log(this.editedItem)
        this.$axios.post(reqUrl, this.editedItem).then((res) => {
          console.log(res)
          setTimeout(this.getGrades, 400)
          this.dialog = false
        }).catch((error) => {
          console.log(JSON.stringify(error))
        })
        this.editedItem = this.defaultItem
        this.editedIndex = -1
      },
      deleteGrade(id) {
        // this.$toast.info("not implemented").goAway(3500)
        console.log("Deleting grade with id : ", id)
        const reqUrl = '/api/students?id='+id
        this.$axios.delete(reqUrl).then((res) => {
          console.log(res)
          this.$toast.info(res.data.message).goAway(3500)
          setTimeout(this.getGrades, 400)
        }).catch((error) => {
          console.log(JSON.stringify(error))
        })
      },

      addInputMask() {
        let balanceVenueIdSelector = document.getElementById("balanceVenueId");
        Inputmask({ regex: '^[0-9]{1,10}$' }).mask(balanceVenueIdSelector);
      },
      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
      },
      editItem (item) {
        this.editedIndex = this.gradeItems.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
    },
    mounted () {
      this.getGrades()
    }
  }
</script>

<style>
  .v-data-table__expanded__content {
    box-shadow: none !important;
  }
</style>
